// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

tr.negative td {
    background-color: rgb(255, 20, 20);
    color: white;
}

tr.low td {
    background-color: rgb(182, 182, 182);
}

.clickable {
    cursor: pointer;
}
